@import "./variables";
@import "./mixins";

.status {
    text-align: center;
    @include border_radius($border_radius);
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
    line-height: 0.9375rem;
    font-weight: 500;
    display: inline-block;
    margin: auto;
    min-width: 5.625rem;
    text-transform: capitalize;
    color: $white_color;
    &.pending
    {
        background-color: $pending_color;
    }
     &.accepted ,
&.approved{
background-color: $main_color;
}
    
    &.active {
        background-color: $green_color;
    }

    &.rejected,
    &.stop,
    &.cancel {
        background-color: $warn_color;
    }

}

.text_status {
    font-size: 0.875rem;
    font-weight: 700;
    padding: 1rem;
    line-height: 0.875rem;
    font-family: $main_font !important;
    text-align: center;

    &.requested {
        color: $green_color;
    }

    &.deposit {
        color: $main_color;
    }
}