//Variables
$main_font:   "IBM Plex Sans Arabic";

$main_color: #0084A4;
$second_color:#424242;
$dark_color: #111827;
$white_color: #ffffff;
$link_color: #7E8299;
$text-color: #7E8299;


$approve_color: #32ADE6;
$pending_color:#FF9500;
$warn_color: #FF3B30;
$green_color: #6FCF97;
$gray_color: #828282;
$border_color: #D1D1D1;

$border_radius: 0.5rem