<div class="login d-flex align-items-center justify-content-evenly">
  <img src="assets/images/white_logo.svg" alt="logo">

  <div class="login_form d-flex align-items-center justify-content-center flex-column shadow">
    <div class="login_form_cont">
      <div class="head">
        <h3 class="fs-32 fw-600 mb_16">
          {{ 'LOGIN.RESET_PASSWORD' | translate }}
        </h3>
      </div>

      <form #resetForm="ngForm" (ngSubmit)="resetPassword()" novalidate>
        <!-- New Password -->
        <div class="form-group ">
          <label>{{ 'LOGIN.NEW_PASSWORD' | translate }}</label>
          <div class="form-control inputDiv ">
            <input 
                [type]="showPassword ? 'text' : 'password'"
                class=" "
                name="password"
                [(ngModel)]="password"
                #passwordCtrl="ngModel"
                placeholder="{{ 'LOGIN.NEW_PASSWORD' | translate }}"
                [pattern]="passwordPattern"
                required>

            <!-- Eye toggle -->
            <button type="button"
                    class="icon"
                    (click)="togglePasswordVisibility('password')">
                <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
        </div>
          <!-- Errors -->
          <div class="text-danger mt-1" *ngIf="passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)">
            <small *ngIf="passwordCtrl.errors?.['required']">
              {{ 'LOGIN.PASSWORD_REQUIRED' | translate }}
            </small>
            <small *ngIf="passwordCtrl.errors?.['pattern']">
              {{ 'LOGIN.PASSWORD_COMPLEXITY' | translate }}
            </small>
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="form-group position-relative">
          <label>{{ 'LOGIN.CONFIRM_PASSWORD' | translate }}</label>
             <div class="form-control inputDiv ">
          <input 
            [type]="showConfirmPassword ? 'text' : 'password'"
            class=""
            name="confPassword"
            [(ngModel)]="confPassword"
            #confPasswordCtrl="ngModel"
            placeholder="{{ 'LOGIN.CONFIRM_PASSWORD' | translate }}"
            required>
          <!-- Eye toggle -->
          <button type="button"
                  class=" icon"
                  (click)="togglePasswordVisibility('confirm')">
            <i class="fa" [ngClass]="showConfirmPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
          </button>
        </div>
          <!-- Errors -->
          <div class="text-danger mt-1" *ngIf="(confPasswordCtrl.dirty || confPasswordCtrl.touched)">
            <small *ngIf="confPasswordCtrl.errors?.['required']">
              {{ 'LOGIN.CONFIRM_PASSWORD_REQUIRED' | translate }}
            </small>
            <small *ngIf="password !== confPassword">
              {{ 'LOGIN.PASSWORDS_NOT_MATCH' | translate }}
            </small>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="d-flex align-items-center justify-content-center text-center w-100">
          <button 
            type="submit"
            class="main_btn w-100"
            [disabled]="resetForm.invalid || password !== confPassword">
            {{ 'LOGIN.RESET_PASSWORD' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
