@import '../../../../../assets/scss/_variables.scss';
@import '../../../../../assets/scss/_mixins.scss';

.login_form {
    position: relative;
    width: 100%;
    max-width: 520px;
    background-color: transparent;
    color: $dark_color;
    overflow: hidden;
    overflow-y: auto;
    padding: 32px;
    @include border_radius($border_radius);

    .head {
        h3 {
            color: $main_color;
        }
    }

    .login_form_cont {
        width: 100%;
        max-width: 540px;

        @include mediaquery(max, mobile) {
            min-width: 100%;
            padding: 0 16px;
        }
    }

    .remmber {
        input {
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            margin-inline-end: 10px;
            accent-color: $main_color;
        }
    }

    .main_btn {
text-transform: uppercase;
    padding: 14px 10px;
        &:disabled {
            cursor: not-allowed;
        }
    }


    .flag {
        @include border_radius(4px);
        width: 24px;
    }
}

.password_group {
    position: relative;

    button {
        position: absolute;
        margin: 0;
        inset-inline-end: 15px;
        top: 30px;
        background: transparent;
        height: 50px;

        path {
            fill: $main_color
        }
    }
}

.forget {
    color: $dark_color;
}

.login {
    position: relative;
    height: 100%;
    background-image: url(../../../../../assets/images/login_bg.svg);
    box-shadow: -3px 0 19.5px 0 rgba(0, 0, 0, 0.10);
    background-repeat: no-repeat;
    background-size: 75%;
    .logo {
        width: 100%;
        margin: 0 auto 32px;
        display: block;
        padding: 0 72px 24px;
        border-bottom: 1px solid $border_color;
    }

     

}
.frogetPassword{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    h6{
        text-decoration: underline;
        color: $main_color;
        cursor: pointer;
    }
}