<div class="login d-flex  align-items-center justify-content-evenly">
      <img src="assets/images/white_logo.svg" alt="logo" class="">
    <div class="login_form d-flex  align-items-center justify-content-center flex-column shadow">
       
        <div class="login_form_cont">
              <!-- <img src="assets/images/logo.svg" alt="logo" class="logo"> -->
            <div class="head">
                <h3 class="fs-32 fw-600 mb_16">
                    {{'LOGIN.USER_EMAIL' | translate}}
                </h3>
                <!-- <p class="fs-18 fw-500 mb_48">
                    {{'LOGIN.SUBTITLE' | translate}}
                </p> -->
            </div>
            <div class="form-group">
                     <label>{{'LOGIN.EMAIL' | translate}} </label>
              <input type="email" class="form-control" [(ngModel)]="email" #emailCtrl="ngModel"  name="email" 
                    placeholder="{{'LOGIN.EMAIL' | translate}}"  email>

                <div class="text-danger mt-1" *ngIf="(emailCtrl.invalid && (emailCtrl.dirty && emailCtrl.touched)) || formsubmited">
                    
                    <small *ngIf="(emailCtrl.errors?.['email']) || formsubmited">
                    {{ 'LOGIN.INVALID_EMAIL' | translate }}
                    </small>
                </div>
            </div>
           
          <div class="d-flex  align-items-center justify-content-center text-center w-100">

                <button class="main_btn w-100" (click)="resetPassword();">
                    {{'LOGIN.RESET_PASSWORD' | translate}}
                </button>
            </div>
          

        </div>
    </div>
   
</div>